.header-section{
    display: flex;
    width: 100%;
    height: 50px;
  }
  
  .header-section .title{
    display: flex;
    padding-left: 10px;
    align-items: center;
  }
  
  .header-section .see_all{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    color: #FE0000;
    text-decoration: none;
  }


.container_soon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.movie-card {
    display: flex;
    align-items: center;
    background: #272727;
    padding: 10px;
    border-radius: 20px;
    max-width: 400px;
}

.container_imagen {
    width: 100px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container_imagen img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 20px;
}

.container_info {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 18px;
    margin: 0;
}

.genero {
    font-size: 14px;
    color: gray;
}