.main_container{
  width: 100%;
  height: 80%;
  padding-left: 30px;
  padding-right: 30px;
}

.slider_container{
  position: relative;
  height: 100%;
}

.container_images{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #eee;
  overflow: hidden;
}

.container_images ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  transition: transform 0.5s ease; 
} 

.container_images li {
  min-width: 100%;
  box-sizing: border-box;
}

.container_images img {
  width: 100%;
  display: block;
  object-fit: fill;
}

.leftArrow{
  height: 60px;
  width: 60px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}


.rightArrow{
  height: 60px;
  width: 60px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: -30px;
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.dots-container {
  display: flex;
  height: 35px;
  justify-content: center;
}

.dot-container-item {
  display: flex;
  margin-top: 3px;
  width: 20px;
  cursor: pointer;
  text-align: center;
  align-items: center;
}

.dots-container .dot-container-item img{
  height: 15px;
  width: 15px;
}


.dot-container-item.active img {
  filter: invert(59%) sepia(79%) saturate(394%) hue-rotate(300deg) brightness(95%) contrast(100%);
}

.header-section{
  display: flex;
  width: 100%;
  height: 50px;
}

.header-section .title{
  display: flex;
  padding-left: 10px;
  align-items: center;
}

.header-section .see_all{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  color: #FE0000;
  text-decoration: none;
}

.info_container{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.info_container .info{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.info h1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo{
  font-size: 30px;
}

.genero{
  font-size: 15px;
  color: #888888;
}