
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 10% 60% 20%;
  grid-template-areas: 
  "user"
  "search"
  "movie"
  "soon";
}


.user{
  grid-area: user;
  padding: 10px;
}

.Search_movie{
  grid-area: search;
}

.movies{
  grid-area: movie;
}

.coming_soon{
  grid-area: soon;
}