.compra-tickets {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
  }
  
  .order-summary {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .movie-details {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .movie-banner {
    width: 100px;
    border-radius: 8px;
  }
  
  .movie-info {
    flex: 1;
  }
  
  .movie-title {
    color: #ff0000;
    font-size: 1.2em;
    margin-bottom: 0.2em;
  }
  
  .movie-genre {
    color: #cccccc;
    margin-bottom: 0.5em;
  }
  
  .movie-synopsis {
    color: #aaaaaa;
    font-size: 0.9em;
  }
  
  .order-details {
    background-color: #121212;
    padding: 15px;
    border-radius: 8px;
    height: 50vh;
  }

  .order-details div{
    margin: 10px;
    color: gray;
    border-bottom: gray 1px solid;
    padding-bottom: 10px;
  }

  .orderNumber, 
  .TICKET, 
  .regular-seat, 
  .service-fee{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  
  .buy-ticket-button {
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    margin-top: 20px;
  }
  
  .buy-ticket-button:hover {
    background-color: #e60000;
  }
  
.container-menu {
    display: flex;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.container-menu img{
    width: 25px;
    height: 25px;
}

.compra-tickets .container-menu .title{
    font-size: 13px;
}